body {
  background-color: #FBFBFB;
}

.navbar-brand {
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 100;
  height: 40px;
}
.navbar-link {
  font-size: 16px;
  font-weight: 100;
  height: 60px;
}

.navbar-link-last {
  margin-right: 50px;
}

.footer-link {
  font-size: 12px;
}

.avatar-box {
  border: 1px solid #dadada;
  margin-bottom: 3.1269em;
  background-color: #fff;
}

.avatar-image {
  height: 250px;
  background-image: url('../images/avatar.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.avatar-description {
  padding: 20px 30px;
}

.avatar-about {
  border-bottom: 1px solid #dadada;
}

.avatar-about h4 {
  margin-top: 0;
}

.avatar-social {
  padding-top: 12px;
}

.avatar-social a {
  margin: 0px 3px;
}

.avatar-social a i {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #dadada;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  width: 30px;
}

.avatar-social a i:hover {
  background-color: #000;
  color: #fff;
}

.banner {
  background-image: url('../images/horizon.jpg');
  background-position: 0 -100;
  height: 160px;
}

pre {
  padding: 0px;
  margin: 0px;
}