body {
  background-color: #EFEFEF;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif', 'Meiryo';
  font-size: 16px;
}

pre {
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 100;
}
.navbar-link {
  font-size: 16px;
  font-weight: 100;
}

.navbar-link-last {
  margin-right: 50px;
}

.avatar-image {
  width: 100%;
  padding: 15%;
  border-radius: 50%;
}

.avatar-about h4 {
  margin-top: 0;
}

.banner {
  background-image: url('../images/horizon.jpg');
  background-position: 0 -100;
  height: 160px;
}

.about-box {
  background-color: #fff;
  box-shadow: 10px 10px 20px #888888;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.about-description {
  font-size: 15px;
  margin-top: 80px;
}

.article-box {
  background-color: #fff;
  box-shadow: 10px 10px 20px #888888;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.article-date {
  font-size: 10px;
  color: #888888;
}

.article-tag {
  font-size: 14px;
  position: relative;
  bottom: 20px;
}

.article-readmore {
  margin-top: 10px;
}

.article-content img {
  display: block;
  margin: 0 auto;
}

.upload-url {
  height: 20px;
}

.login-box {
  background-color: #fff;
  box-shadow: 10px 10px 20px #888888;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
}

.login-box input {
  width: 100%;
}
